/* Fonts */

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Body */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  color: inherit;
  background-color: inherit;
  padding: 24px 0px;
}

.header-logo-img {
  width: 137px;
  margin-right: 16px;
}

/* Navigation */

.navigation-list, .user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-menu {
  max-width: 450px;
  margin-left: 0;
}

.navigation-link, .user-menu-link {
  display: block;
  padding: 8px 16px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.user-menu-link {
  min-width: 16px;
  min-height: 16px;
}

/* Phone-link in navigation */

.user-menu-item:first-child a {
  font-weight: 700;
}

/* === Index page === */

.main-container {
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

section {
  margin-bottom: 80px;
}

section:last-child {
  margin-bottom: 0;
}
/* Products-slider */

.products-slider {
  display: flex;
  flex-wrap: wrap;
}

.slider-current {
  display: flex;
  flex-wrap: wrap;
}

.slider-inactive {
  display: flex;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
}

.slider-order {
  background: #FCFCFC;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Gift section */

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.products-gift-title {
  width: 434px;
  margin: 0 auto 55px;
}

.gift-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.article-gift {
  background-image: url("../images/raspberry-gift.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FF7799;
  box-sizing: border-box;
  width: 570px;
  padding: 36px;
  padding-right: 206px;
}

.article-gift:nth-child(2) {
  background-image: url("../images/zefir-gift.png");
}

.gift-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.gift-description {
  margin: 0;
  margin-bottom: 28px;
}

.gift-button {
  border: 0;
  padding: 12px 32px;
  background: #FCFCFC;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Popular products section (text styles in cards same in index page and catalog page)  */

.products-popular-title {
  width: 527px;
  margin: 0 auto;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-card {
  background-color: #FCFCFC;
  width: 270px;
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.card-description {
  text-align: center;
}

.card-price {
  font-size: 20px;
  line-height: 24px;
}

/* Advantages section */

.products-advantages {
  background-image: url("../images/advantages-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.products-about {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  }

/* Contaner for blog + newsletter */

.news {
  display: flex;
  justify-content: space-between;

}

/* Blog section */

.blog {
  box-sizing: border-box;
  width: 570px;
  background-image: url("../images/blog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 32px 235px 68px 32px;
}

.blog-news {
  margin: 0;
  margin-bottom: 12px;
}
.blog-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}


/* Newsletter section */

.newsletter {
  width: 570px;
  background-image: url("../images/newsletter-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-submit {
  color: #FCFCFC;
  background-color: #FF2F64;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Delivery section */

.delivery {

  background-image: url("../images/delivery-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.delivery-title {
  text-align: left;
}

.delivery-form {
  background-color: #FCFCFC;
}

.delivery-label {
  font-weight: 700;
  line-height: 20px;
}

.delivery-submit {
  color: #FCFCFC;
  background-color: #FF2F64;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Contacts section */

.contacts {
  background-image: url("../images/contacts-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.contacts-container {
  background-color: #FCFCFC;
}
.address-description {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.phone-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.phone-description {
  font-size: 14px;
  line-height: 20px;
}

.feedback-link {
  color: #FCFCFC;
  background-color: #FF2F64;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
}

/* === Catalog page ===*/

/* Catalog header  */

.catalog-header {
  font-size: 14px;
  line-height: 20px;
}

/* Breadcrumbs */

.breadcrumbs-link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.breadcrumbs-item:last-child a {
  text-decoration: underline;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* Filter section */

.filter-accept-button {
  color: inherit;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

/* Catalog */

.products-catalog {
  display: flex;
}

/* Pagination */

.pagination-show-more {
  background: #FCFCFC;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination-link {
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  background-color: #FCFCFC;
}

/* === Footer === */

.page-footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.footer-social-list, .information-list {
  margin: 0;
  padding: 0;
}

.footer-social-list {
  width: 104px;
  margin-right: 300px;
}

.information-link {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.copyright {
  min-width: 220px;
  margin-left: auto;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: inherit;
}
